<!-- header de la página -->
<app-header>      
    <!-- Componente de carrito  -->
    <app-cart></app-cart>

    <!-- Icono de favoritos -->
    <app-favs-icon></app-favs-icon>

    <!-- Icono de perfil -->
    <app-perfil-icon></app-perfil-icon>

    <!-- Botón de vender -->
    <app-sell-button></app-sell-button>
</app-header>

<!-- Componente de categorías -->
<app-category></app-category>

<!-- Componente de búsqueda -->
<app-search class="d-block mx-auto my-5 w-50"></app-search>

<!-- Sección de productos destacados -->
<app-featured></app-featured>

<!-- footer de la página -->
<app-footer></app-footer>
