
<!-- header de la página -->
<app-header>
    <div class="d-flex align-items-center gap-3">
        <!-- Componente de carrito  -->
        <app-cart ></app-cart>
        <!-- Icono de favoritos -->
        <app-favs-icon></app-favs-icon>
        <!-- Icono de perfil -->
        <app-perfil-icon></app-perfil-icon>
        <!-- Botón de vender -->
        <app-sell-button></app-sell-button>
    </div>
</app-header>

<!-- Componente de categorías -->
<app-category></app-category>

<!-- Componente de búsqueda -->
<app-search class="d-block mx-auto my-5 w-50"></app-search>

<!-- Sección de productos destacados -->

<app-products (agregarProducto)="onAgregarProducto($event)"></app-products>

<!-- footer de la página -->
<app-footer></app-footer>