<div class="container-fluid bg-light py-4">
  <footer class="container">
    <div class="row">
      <div class="col-md-4 d-flex align-items-center">
        <img alt="TITULO logo" class="me-2" height="50"
          src="https://storage.googleapis.com/a1aa/image/60x2YaHTmjEjaVO8lOmUzXO68wZUH0McvRG7T7CJ-2Q.jpg" width="100" />
        <p class="mb-0 text-muted">© 2025 TITULO. Todos los derechos reservados</p>
      </div>
      <div class="col-md-2">
        <h3 class="h5">TITULO</h3>
        <ul class="list-unstyled">
          <li><a class="text-decoration-none text-dark" href="#">Quiénes somos</a></li>
          <li><a class="text-decoration-none text-dark" href="#">Cómo funciona</a></li>
          <li><a class="text-decoration-none text-dark" href="#">Brand Book</a></li>
          <li><a class="text-decoration-none text-dark" href="#">Prensa</a></li>
          <li><a class="text-decoration-none text-dark" href="#">Empleo</a></li>
          <li><a class="text-decoration-none text-dark" href="#">Sostenibilidad</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h3 class="h5">Soporte</h3>
        <ul class="list-unstyled">
          <li><a class="text-decoration-none text-dark" href="#">Centro de ayuda</a></li>
          <li><a class="text-decoration-none text-dark" href="#">Normas de la comunidad</a></li>
          <li><a class="text-decoration-none text-dark" href="#">Consejos de seguridad</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h3 class="h5">Legal</h3>
        <ul class="list-unstyled">
          <li><a class="text-decoration-none text-dark" href="#">Aviso legal</a></li>
          <li><a class="text-decoration-none text-dark" href="#">Condiciones de uso</a></li>
          <li><a class="text-decoration-none text-dark" href="#">Política de privacidad</a></li>
          <li><a class="text-decoration-none text-dark" href="#">Política de Cookies</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h3 class="h5">Motor</h3>
        <ul class="list-unstyled">
          <li><a class="text-decoration-none text-dark" href="#">Particular</a></li>
          <li><a class="text-decoration-none text-dark" href="#">Profesional</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h3 class="h5">TITULO PRO</h3>
        <ul class="list-unstyled">
          <li><a class="text-decoration-none text-dark" href="#">Impulsa tu negocio</a></li>
        </ul>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6 text-start">
        <a class="text-dark fs-4 me-3" href="#"><i class="fab fa-facebook-f"></i></a>
        <a class="text-dark fs-4 me-3" href="#"><i class="fab fa-twitter"></i></a>
        <a class="text-dark fs-4" href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </footer>
</div>