<!-- Header de la página -->
<app-header>
    <div class="d-flex justify-content-between align-items-center">
        <!-- Componente de búsqueda -->
        <app-search class="d-flex w-75 me-auto"></app-search>

        <!-- Icono perfil -->
        <app-perfil-icon></app-perfil-icon>

        <!-- Botón comprar -->
        <app-sell-button></app-sell-button>
    </div>
</app-header>

<!-- Componente de categorías -->
<app-category></app-category>

<!-- Anuncios  -->
<app-public-ads></app-public-ads>

<!-- footer de la página -->
<app-footer></app-footer>
