<!-- Header de la página -->
<app-header>
    <div class="d-flex justify-content-between align-items-center w-100">
      <!-- Componente de búsqueda -->
      <app-search class="ms-4 me-4"></app-search>
    </div>
      <!-- Contenedor para los íconos de la derecha -->
      <div class="d-flex align-items-center gap-3">
        <!-- Icono perfil -->
        <app-perfil-icon></app-perfil-icon>
  
        <!-- Botón comprar -->
        <app-sell-button></app-sell-button>
      </div>

  </app-header>
  

<!-- Componente de categorías -->
<app-category></app-category>

<!-- Anuncios  -->
<app-public-ads></app-public-ads>

<!-- footer de la página -->
<app-footer></app-footer>
