.offcanvas.show-custom {
  height: 80vh; /* Ajusta la altura al 80% de la pantalla */
  max-height: 80vh;
  overflow-y: auto; /* Permite desplazamiento solo vertical */
}

.offcanvas-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cart-icon .badge {
  right: 28% !important;
  top: 70% !important; 
}

#cartOffcanvas {
  max-width: 100%;
}
