.offcanvas.show-custom {
  height: 80vh; /* Ajusta la altura al 80% de la pantalla */
  max-height: 80vh;
  overflow-y: auto; /* Permite desplazamiento solo vertical */
}

.offcanvas-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
