<!-- Ícono del carrito -->
<i class="bi bi-cart fs-3 text-muted position-relative" (click)="toggleCartDetails()">
  <span class="cart-badge">
    {{ (cartService.cartItems$ | async)?.length || 0 }}
  </span>
</i>



<!-- Offcanvas del carrito -->
<div id="cartOffcanvas" class="offcanvas offcanvas-end show-custom">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">Carrito de Compras</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div *ngIf="(cartService.cartItems$ | async)?.length; else emptyCart">
      <div *ngFor="let item of cartService.cartItems$ | async" class="cart-item">
        <span>{{ item.producto.nombre }} ({{ item.cantidad }})</span>
        <span>${{ item.total }}</span>
      </div>
      <button class="btn btn-danger w-100 mt-3" (click)="vaciarCarrito()">Vaciar carrito</button>
    </div>
    <ng-template #emptyCart>
      <p class="text-center text-muted">El carrito está vacío.</p>
    </ng-template>
  </div>
</div>