.offcanvas.show-custom {
  height: 80vh; /* Ajusta la altura al 80% de la pantalla */
  max-height: 80vh;
  overflow-y: auto; /* Permite desplazamiento solo vertical */
}

.offcanvas-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cart-icon .badge {
  right: 28% !important;
  top: 70% !important; 
}

#cartOffcanvas {
  max-width: 100%;
}

.cart-badge {
  font-size: 0.45rem; /* Más pequeño */
  top: 0px;
  right: -12px;
  position: absolute;
  transform: translate(0%, 0%);
  background-color: #dc3545; /* bg-danger */
  border-radius: 50%;
  padding: 0.15rem 0.3rem; /* Menos padding */
  color: white;
}
