<main class="container my-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow">
        <div class="card-body">
          <div class="d-flex justify-content-end align-items-center mb-3">

            <button *ngIf="!editMode" class="btn btn-primary" (click)="toggleEdit()">
              <i class="bi bi-pencil"></i> Editar
            </button>
          </div>

          <form *ngIf="editMode; else viewModeTemplate" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
            <!-- Campos comunes -->
            <div class="mb-3">
              <label>Nombre</label>
              <input formControlName="name" class="form-control">
              <div *ngIf="profileForm.get('nombre')?.invalid" class="text-danger">
                Nombre es requerido
              </div>
            </div>



            <div class="mb-3">
              <label>Email</label>
              <input formControlName="email" type="email" class="form-control">
              <div *ngIf="profileForm.get('email')?.invalid" class="text-danger">
                Email inválido
              </div>
            </div>

            <!-- Campos específicos para vendedor -->
            <div *ngIf="rol === 'vendedor'" class="mb-3">
              <label>Nombre del Negocio</label>
              <input formControlName="businessName" class="form-control">
              <div *ngIf="profileForm.get('businessName')?.invalid" class="text-danger">
                Nombre del negocio es requerido
              </div>
            </div>

            <div class="d-flex gap-2 justify-content-end">
              <button type="button" class="btn btn-secondary" (click)="toggleEdit()">
                Cancelar
              </button>
              <button type="submit" class="btn btn-success" [disabled]="profileForm.invalid">
                Guardar
              </button>
            </div>
          </form>

          <ng-template #viewModeTemplate>
            <div>
              <h3 class="text-primary">Mi Perfil</h3>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <strong>Nombre:</strong> {{ currentUser?.name }}
                </li>
                <li class="list-group-item">
                  <strong>Email:</strong> {{ currentUser?.email }}
                </li>
                <li class="list-group-item" *ngIf="currentUser?.businessName">
                  <strong>Negocio:</strong> {{ currentUser?.businessName }}
                </li>
              </ul>
            </div>
          </ng-template>
          
        </div>
      </div>
    </div>
  </div>
</main>