<div class="row g-1">
  <div class="col-4 col-md-3 col-lg-2" *ngFor="let product of products">
    <div class="card shadow-sm border-0 rounded text-center" style="width: 100%; font-size: 0.85rem;">
      <div class="ratio ratio-1x1">
        <img *ngIf="product.imagen" [src]="product.imagen" class="card-img-top object-fit-cover"
          alt="{{ product.nombre }}">
      </div>
      <div class="card-body p-1">
        <h6 class="card-title fw-bold text-primary mb-1">{{ product.nombre }}</h6>
        <p class="card-text text-muted small mb-1">{{ product.descripcion }}</p>
        <p class="card-text text-muted small mb-1">
          <i class="bi bi-shop me-1"></i>
          {{ getVendedorName(product.vendedorId) }}
        </p>
        <p class="card-text fw-semibold text-success mb-1">${{ product.precio }}</p>
        <div class="d-flex justify-content-center gap-1">
          <button (click)="onAgregar(product)" class="btn btn-sm btn-primary p-1">
            <i class="bi bi-cart-plus"></i>
            Añadir
          </button>
          <button (click)="onToggleFav(product)"
            [ngClass]="{'btn-danger': isFavorite(product), 'btn-outline-secondary': !isFavorite(product)}"
            class="btn btn-sm p-1">
            <i [ngClass]="{'bi-heart-fill': isFavorite(product), 'bi-heart': !isFavorite(product)}"></i>
            Favoritos
          </button>
        </div>
      </div>
    </div>
  </div>
</div>